{
  "name": "{{projectName}}",
  "version": "{{projectVersion}}",
  "description": "{{projectDescription}}",
  "type": "module",
  "bin": {
    "{{projectName}}": "./src/index.js"
  },
  "files": [
    "src",
    "config"
  ],
  "scripts": {
    "start": "node src/index.js"
  },
  "dependencies": {
    "@modelcontextprotocol/sdk": "^1.15.0",
    "zod": "^3.22.4"{{#apiDocumentationUrl}},
    "{{clientPackage}}": "latest"{{/apiDocumentationUrl}}
  }
}